/* .App {
  text-align: center;
  
  background-image: url('https://res.cloudinary.com/ophtalmoparis/w_1200,f_auto,q_auto/v1513869148/quels-sont-les-risques-des-casques-de-realite-virtuelle-sur-la-vision_ufaqsl.jpg');
  
position: fixed;
min-width: 100%;
min-height: 100%;
background-size: cover;
background-position: center;


} */
/* .nav{
  display: flex;
  justify-content: space-between;
  background-color: red;
} */

/* .navnav{
  background-color:transparent;
  height: 100px;
} */

/* .container{
  color:white;
  margin-top: 200px;
  margin-left: 700px;
  width : 400px;
  border: solid;
  height: 400px;

}
.d-inline-block{
  margin-top: 10px;
  margin-left: 30px;
} */
.val{
  height: 150px;

}
.navnav{

  display: flex;
  justify-content: space-around;
  background-color: black;
}

.games{
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
/* *{
  background-color: black;
  text-align: center;
  
} */
h1{
  color: rgb(0, 0, 0);
}
h6{
  color: rgb(255, 255, 255);
}
h2{
  color: aliceblue;
}

.reservationTable{
  background-color: rgb(0, 0, 0);
  text-align: center;
  color:white;
  border: 1px solid white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Add{
  background-color: black;
}
.games{
  background-color: black;
}
.Modal{
  background-color: black;
}
.Table{
  display: flex;
  justify-content: space-around;
}

.btnReserve{
  position: absolute;
  top: 185%;
  left: 45%;
}