/* .App {
  text-align: center;
  
  background-image: url('https://res.cloudinary.com/ophtalmoparis/w_1200,f_auto,q_auto/v1513869148/quels-sont-les-risques-des-casques-de-realite-virtuelle-sur-la-vision_ufaqsl.jpg');
  
position: fixed;
min-width: 100%;
min-height: 100%;
background-size: cover;
background-position: center;


} */
/* .nav{
  display: flex;
  justify-content: space-between;
  background-color: red;
} */

/* .navnav{
  background-color:transparent;
  height: 100px;
} */

/* .container{
  color:white;
  margin-top: 200px;
  margin-left: 700px;
  width : 400px;
  border: solid;
  height: 400px;

}
.d-inline-block{
  margin-top: 10px;
  margin-left: 30px;
} */
.val{
  height: 150px;
}
.container-nav{
  background-color: brown;
  display: flex;
  justify-content: space-between;
}
h1{
  color: red;
}
